<!DOCTYPE html>
<html>

<head>
    <title>Instructor Page</title>

    <meta charset="utf-8">
    <link rel="stylesheet" href="./static/studentAndInstructor.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-expand-sm py-3 navbar-dark bg-dark">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="mynavbar">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <form method="post">
                            <button type="submit" name="logout" class="nav-link btn btn-light"
                                style="color: brown; font-weight: bolder; font-size: larger;">Log Out</button>
                        </form>
                    </li>

                </ul>
                <br>
            </div>

        </div>

    </nav>
    <div class="container mt-3">

        <br>

        <div class="card bg-dark text-white">
            <div class="card-body align-self-center" style="font-size: 40px;">Instructor Page</div>
            <br>



            <div class="card bg-light text-dark"><br>

                <br>


                <div class="container mt-1"><br>
                    <h2 class="card-body">Courses Waiting to Confirm</h2>
                    <form method="post">
                        <table id="Course" class="table table-hover" class="stripe row-border order-column"
                            width="100%">
                            <thead>
                                <tr>
                                    <th>Course ID</th>
                                    <th>Course Time</th>
                                    <th>Confirm Course</th>
                                    <th>Student</th>
                                </tr>
                            </thead>
                            <tbody id="waitingConfirmCourses">

                            </tbody>
                        </table>
                    </form>
                    <br>
                    <div>
                        <h2 class="card-body">Confirmed Courses</h2>



                    </div>
                    <form method="post">
                        <table id="Course" class="table table-hover" class="stripe row-border order-column"
                            width="100%">
                            <thead>
                                <tr>
                                    <th>Course ID</th>
                                    <th>Course Time</th>
                                    <th>Cancel</th>
                                    <th>Student</th>
                                </tr>
                            </thead>
                            <tbody id="confirmedCourses">

                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
        </div>
        <br><br><br><br><br><br><br>
    </div>

    <script>
        confirmedCourses = {{ confirmedCourses | tojson }}

        var x = document.getElementById("confirmedCourses");
        var inner = ''
        confirmedCourses.forEach(element => {
            inner += '<tr><td>' + element[0] + '</td><td>' + element[1] + ' ' + element[2] + '</td><td><button type="submit" name="courseCancelButton" id="Cancel" value= "' + element[0] + '" class="btn btn-dark">Cancel</button></td><td>' + element[6] + '</td></tr>';
        });
        x.innerHTML = inner;

    </script>


    <script>
        waitingConfirmCourses = {{ waitingConfirmCourses | tojson }};
        console.log(waitingConfirmCourses);

        var x = document.getElementById("waitingConfirmCourses");
        var inner = ''
        waitingConfirmCourses.forEach(element => {
            inner += '<tr><td>' + element[0] + '</td><td>' + element[1] + ' ' + element[2] + '</td><td><button name="confirmCourseButton" type="submit" id="ConfirmCourse" class="btn btn-dark" value=" ' + element[0] + ' ">Confirm Course</button></td><td>' + element[5] + '</td></tr>';
        });
        x.innerHTML = inner;

    </script>




</body>

</html>